@-webkit-keyframes wiggle {
	from {
		-webkit-transform: rotate(0deg);
	}
	3% {
		-webkit-transform: rotate(-10deg);
	}
	6% {
		-webkit-transform: rotate(10deg);
	}
	9% {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}
@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	25% {
		-webkit-transform: rotate(90deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	75% {
		-webkit-transform: rotate(270deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}




/*-------------------------*\
	Global
\*-------------------------*/

body {
	font-family: 'Roboto', Helvetica, sans-serif;	
	background-color: #ECF0F1;
}
a {
	color: #1ABC9C;
	text-decoration: none;
	padding-right: 4px;
}
a:hover {
	color: #16A085;
}
/*wraps all the main sections besides header and footer*/
#main {
	margin: 450px 3% 20px 3%;
	border-radius: 8px;
	background-color: #fff;
	padding-bottom: 10px;

	z-index: 2;
	position: relative; /*needa to figure out z-index*/
}


.two-col {
	-webkit-column-count: 2;
}

ul {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
/*clears the webkit default ul margin*/

.watermark {
	position: fixed;
	right: 0;
	bottom: 0;
	-webkit-animation-name: spin;
	-webkit-animation-duration: 40s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	/*-webkit-animation-timing-function: ease-in-out;*/
}
.watermark img {
	height: 100px;
	width: 100px;
}


/*-------------------------*\
	Nav Bar w/ scrollspy
\*-------------------------*/

#top-menu {
	background-color: #1ABC9C;
	font-size: 16px;

	text-align: center;
	padding: 8px 0;
	border-bottom: 2px solid #16A085;

    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
}
#top-menu li {
	display: inline-block;
	list-style: none;
}
#top-menu a {
    display: block;
    padding: 5px 25px;
    border-top: 2px solid #16A085;
    color: #eee;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    transition: 1s all ease;
}
#top-menu a:hover {
    color: #fff;
}
#top-menu li.active a {
    border-top: 2px solid #fff;
    color: #fff;
}



/*-------------------------*\
	Header Block
\*-------------------------*/

header {
	top: 70px;

	z-index: 1;
	position: fixed;

	width: 100%;
}
header h1 {
	font-size: 90px;
	text-align: center;
	color: #7F8C8D;

	/*text-shadow: -10px 10px 0px #00e6e6,
	             -20px 20px 0px #01cccc,
	             -30px 30px 0px #00bdbd; /* superhero */


	/*text-shadow: 0px 0px 6px rgba(255,255,255,0.7); /* white glow */


	/*text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
	             0px 18px 23px rgba(0,0,0,0.1); /* tumblr logoish hard & close */


	/*text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1); /* milk plastic */

}
#bigquote {
	color: #7F8C8D;
	text-align: center;
	width: 580px;
	margin-right: auto;
	margin-left: auto;
}





/*-------------------------*\
	Section Formatting
\*-------------------------*/

section {
	padding: 10px 25px;
}

section h1 {
	/*color: #fff; 
	padding: -50px 0 -40px -40px;
	margin: 0;
	font-size: 90px;
	/*^could experiement with making this cut into the header background
	http://stackoverflow.com/questions/4973988/why-does-css-not-support-negative-padding*/
	
	color: #fff;
	background-color: #1ABC9C;
	padding: 5px 10px;
	border-radius: 3px;
}


/*-------------------------*\
	Specific Sections
\*-------------------------*/

/*should use nested selectors*/

#one {
	padding: 4% 17%;
}
#one li {
	display: inline-block;
	padding: 15px;
	padding-left: 0;
}
#one p {
	width: 150px;
	padding-left: 10px;
}
#one img {
	max-width: 130px;
	padding: 40px 13px;
}

#two {
	background-color: #95A5A6;
	padding: 4% 17%;
}

#three {	
	padding: 4% 17%;
}


footer {
	color: #7F8C8D;
	padding: 3px;
	text-align: center;
	
}
footer img {
	height: 35px;
}



/*-------------------------*\
	Small Elements
\*-------------------------*/

hr {
	border: 0;
    height: 1px;
    background-color: #fff;
    margin: 30px 20px;
}

.smallblock {
	text-align: center;
}
.smallblock img {
	padding: 20px 10px;
}

#apple {
	padding-bottom: 22px;
}

.class-date {
	/*background-color: #BDC3C7;
	color: #fff;
	padding: 2px 4px;
	border-radius: 3px;
	display: inline;
	font-size: 90%;*/
	display: none;
}

/*for highlighting accomplishments and making resume more useful at-a-glance*/
.statistic {

}


.item {
	background-color: #2ECC71;
	color: #fff;
	padding: 2px 4px;
	margin: 2px 0;
	border-radius: 3px;
	display: inline-block;
}

/*score display*/
.holder {
    width: 80px;
    height: 94px;
    position: relative;
    margin: 5px 15px 5px 0;
    background-color: #2ECC71;
    border-radius: 3px;
    display: inline-block;
}
.label {
    width: 80px;
    height: 30px;
    background-color: #27AE60;
}
.label p {
    text-align: center;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    padding-top: 8px;
}
.number {
    width: 80px;
    height: 60px;
}
.number p {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    margin-top: 5px;
}



/*-------------------------*\
	Episode divs (each experience)
\*-------------------------*/
.dates {
	background-color: #BDC3C7;
	color: #fff;
	padding: 2px 4px;
	margin-bottom: 2px;
	border-radius: 3px;
	display: inline-block;
	font-size: 90%;
}
.title {
	color: #000;
}
.institution {
	color: #8A8A8A;
}
.institution:before {
	content: "at ";
}
.location {
	color: #000;
}

dl {
    margin-bottom: 20px;
}

dt {
    font-weight: bold;  
    padding: 6px 0;
    float: left;
	min-width: 50%;
}

dd {
    margin-top: 5px;
    margin-left: 0;
    color: #757575;
}

.episode {
	margin: 50px 0;
}

.one {
	float: left;
	max-width: 38%;
	/*background-color: blue;*/
}
.two {
	position: relative;
	margin-left: 38%;
	text-align: right;
	min-height: 90px; /*four lines of text*/
	/*background-color: red;*/
}
.three {
	/*background-color: yellow;*/
}


#map-canvas {
    height: 600px;
    margin: 0px;
    padding: 0px;
}
#panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
}

/*-----------------*
	The Bar
*------------------*/

#thebar {
	padding: 0px 3px 4px 3px;
	margin: 4px 6px;
	border-bottom: 2px solid red;

	font-family: 'Rokkitt', serif;

	/*how should I style the bar really*/
}
#thebar form div {
	display: inline;
}


label {
	font-size: 1.5em;

	margin-right: 5px;
}

input[type=text] {
	border: 0;
	
	border-bottom: 1px dashed #ccc;

	/*border: 1px solid red;
	border-radius: 10px;*/

	/*border-left: 2px solid red;
	border-right: 2px solid red;*/

	padding: 0 10px;

	width: 250px;

	font-family: 'Rokkitt', serif;
	font-size: 1.5em;

	margin-right: 5px;
}

.submit {
	background-color: white;
	color: red;

	padding: 3px;
	border: 0;
	border-radius: 0;

	border: 2px solid red;

	text-transform: lowercase;
	font-size: 1.5em;

	font-family: 'Rokkitt', serif;
}
.submit:hover {
	color: black;
	border-color: black;
}


/*-------------------------*\
		Responsive
\*-------------------------*/

@media (max-width: 620px), only screen and (min-device-width: 320) and (max-device-width: 480px) {
	#main {
		width: 310px;
	}
}
