<!-- Alternative Homepage for testing-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<style> 
		html, body, #map-canvas {
		height: 100%;
		/*width: 50%;*/
		margin: 0px;
		padding: 0px
		}
		</style>
		<script>
		var gps;
		$(document).ready(function(){
			// define functions:
			
			gps = function gps(myIdTrips, myIdVehicles) {
				$.post('api/allgps',
					{idTrips: myIdTrips, idVehicles: myIdVehicles},
					// Update Table
					function(data, status) {
						setupLine(data);
					}
				);
			};

			function getResults(myRanking) {
				$.post('api/searchresults',
					{ranking: myRanking},
					function(data, status) {
						// Update Table
						for (var index in data){
							var trip = data[index].idTrips;
							var vehicle = data[index].idVehicles;
							var trip_vehicle = trip + ', ' + vehicle;
							$('#results').append('<tr><td><button type=\'button\' class="btn btn-primary gpsButton" onclick=\'$(document).ready(function(){gps(' + trip_vehicle + ')});\'>' + trip_vehicle + '</button></td></tr>');
							$('#resultsOne').append('<tr><td class="idTrip">' + trip + '</td><td class="idVehicle">' + vehicle + '</td></tr>');
						}
						// Assign click handler for each row
						$("#resultsOne td").click(function(){
							var idTrip = $(this).parent().children(".idTrip").text();
							var idVehicle = $(this).parent().children(".idVehicle").text();
							//alert("idTrip: " + idTrip + " idVehicle: " + idVehicle);
							gps(idTrip, idVehicle);
						});
					}
				);
			};

			$("#one").click(function(){
				getResults(1);
			});
			$("#two").click(function(){
				getResults(2);
			});
			$("#three").click(function(){
				getResults(3);
			});
			$("#four").click(function(){
				getResults(4);
			});
			$("#five").click(function(){
				getResults(5);
			});

			$("#resultsOne td").click(function(){
				var idTrip = $(this).parent().children("idTrip").text();
				var idVehicle = $(this).parent().children("idVehicle").text();
				gps(idTrip, idVehicle);
			});

			$("#showPath").click(function(){
				setupLine();
			});

			// adds a pin at the given google.maps.LatLng location
			function addPin(googleLatLng) {
				var marker = new google.maps.Marker({
					position: googleLatLng,
					title: 'Start or end',
					map: map
				});
			}

			// Draws path on map, adding markers to first and last coord pair.
			// LatLongPairs: List of dictionaries with two elements: Latitude and Longitude
			function setupLine(LatLongPairs) {
				var routeCoords = new Array();

				for (var index in LatLongPairs) {
					var lat = LatLongPairs[index]["Latitude"];
					var lon = LatLongPairs[index]["Longitude"];
					routeCoords.push(new google.maps.LatLng(lat, lon));
				}

				addPin(routeCoords[0]);
				addPin(routeCoords[routeCoords.length-1]);

				currentRoute = new google.maps.Polyline({
					path: routeCoords,
					strokeColor: '#FF0000',
					strokeOpacity: 1.0,
					strokeWeight: 2
				});
				currentRoute.setMap(map);
			}
		});	
		</script>

		<!-- Google Maps JS -->
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
		<script>
			// Sets up the map without any lines on it. 
			var map;
			function initialize() {
				var mapOptions = {
					zoom: 9,
					// Center the map on Auburn Hills, MI
					center: new google.maps.LatLng(42.688114,-83.232521)
				};

				map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
			}

			google.maps.event.addDomListener(window, 'load', initialize);
	</script>

	</head>
	<body>
		<h1>RouteFun</h1>
		<h3>Shawn Jain, Andrew Chen</h3>
		<p>MIT-VW-IDEO hackathon</p>
		<h2>Rankings</h2>
		<table class='table'>
			<tr>
				<td><button type='button' class="btn btn-primary" id='one'>1</button></td>
				<td><button type='button' class="btn btn-primary" id='two'>2</button></td>
				<td><button type='button' class="btn btn-primary" id='three'>3</button></td>
				<td><button type='button' class="btn btn-primary" id='four'>4</button></td>
				<td><button type='button' class="btn btn-primary" id='five'>5</button></td>
			</tr>
		</table>

		<h2>Results:</h2>
		<table class='table' id="results">
			<tr>
				<th>idTrips, idVehicles</th>
			</tr>
		</table>

		<table class='table' id="resultsOne">
			<tr>
				<th>idTrips</th><th>idVehicles</th>
			</tr>
		</table>

	<button id="showPath">Show Path</button>
	<div id="map-canvas"></div>
	</body>
</html>