<html>

<head>
	<title>RouteFun</title>
	<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>

	<script>
	$(document).ready(function(){
		function testfunc(){
			$.post("api/allgps",
			{
				routeId:"1",
			},
			function(data,status){
				alert("Data Lats: " + data.lats + "\nData Longs: " + data.longs + "\nStatus: " + status);
			});
		}
		$("#testPost").click(function(){
			testfunc();
		});
	});
	</script> 
</head>



<body>
	<h1>RouteFun Homepage</h1>
	<h2>Under Development by <h1>{{ author1 }}</h1> and <h1>{{ author2 }}</h1>

	<button id='testPost'>TestGPSAPI</button>
</body>

</html>