<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>routeFun</title>
		<meta name="author" content="Andrew and Shawn">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">

		<link href='http://fonts.googleapis.com/css?family=Share+Tech|Roboto|Rokkitt' rel='stylesheet' type='text/css'>
		
		<link rel="stylesheet" type="text/css" href="/static/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="/static/css/widestyle.css">

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

		<!--Google Polyline Map-->
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
		<script>
			var startLat;
			var startLng;
			var length; //uninitialized

			//sample data
			startLat = 42.66934332;
			startLng = -83.23433929;

			var lats;
			var longs; 

			$.post("/api/allgps", {abc:"abc"}, 
				function(data, status){
					lats = data.lats;
					longs = data.longs;
				}
			)

			// lats = [42.6682657, 42.68, 42.80, 43.00];
			// longs = [-83.23736024, -83.25, -83.90, -83.00];
			//end sample data


			var route;
			var map;
			function initialize() {
			  var mapOptions = {
			    zoom: 9,
			    center: new google.maps.LatLng(startLat, startLng),
			    mapTypeId: google.maps.MapTypeId.ROADMAP
			  };

			  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

			  var routeCoordinates = new Array();

			  /*var routeCoordinates = [
			    new google.maps.LatLng(42.6682657, -83.23736024),
			    new google.maps.LatLng(42.68, -83.25),
			    new google.maps.LatLng(42.80, -83.90),
			    new google.maps.LatLng(43.00, -83.00)
			  ];*/

			  for (var i = 0; i < lats.length; i++) {
			  	routeCoordinates[i] = new google.maps.LatLng(lats[i], longs[i]);
			  	//puts a new polyline coordinate on the map for every pair of coordinates in lats[] and long[]
			  }

			  route = new google.maps.Polyline({
			    path: routeCoordinates,
			    strokeColor: '#1ABC9C',
			    strokeOpacity: 0.6,
			    strokeWeight: 3
			  });

			  addLine();
			}

			function addLine() {
			  route.setMap(map);
			}

			function removeLine() {
			  route.setMap(null);
			}

			google.maps.event.addDomListener(window, 'load', initialize);
    	</script>

    	<!--JavaScript POST request for search results-->
    	<script>
    	$(document).ready(function(){
    		var forward = function() {
    			$.post("api/searchresults",
    				{ranking:5},
    				function(data, status){
    					for (var i = 0; i < data.results.length; i++) {
							document.getElementById("routetype").innerHTML=data.results[i].type 
							document.getElementById("routenumber").innerHTML=data.results[i].number
				//instead of inserting something in the span, I need to be generating HTML items
			}; 
    				});
    		}

    		$("#letsgo").click(function(){
    			forward();
    		});
    	});
    	</script>
	</head>

	<body>
		<nav>
			<ul id="top-menu">
				<li><a href="#one">What is routeFun?</a></li>
				<li><a href="#two">The App</a></li>
				<li><a href="#three">Search</a></li>
				<li><a href="#map-canvas">Routes near you</a></li>
			</ul>
		</nav>


		<header>
			<h1 id="myname">routeFun</h1>

			<blockquote id="bigquote">
				Half the fun is in getting there.
				<!--Getting there isn't half the fun, it's all the fun.-->
				<!--For my part, I travel not to go anywhere, but to go. I travel for travel’s sake. The great affair is to move.-->
			</blockquote>
		</header>


		

		<div id="main">
			<section id="one">
				<h1>What is routeFun?</h1>
				<ul>
					<li>
						<img src="/static/img/map.png">
						<p>You can find your next destination. A GPS will find your quickest way there. But what if you believe in having fun in the journey?</p>
					</li>
					<li>
						<img src="/static/img/compass.png">
						<p>There is currently no dataset that describes all of our roads. With aggregated data and our own model, we have rated routes with ranking and type. You find routes that suit you best.</p>
					</li>
					<li>
						<img src="/static/img/colors.png">
						<p>You can optionally contribute. Using sensors in your smartphone and OBD-II data, you can help us build a better collection of fun-to-drive roads for all to enjoy.</p>
					</li>
				</ul>
			</section>

			<section id="two">
				<h1>Map new routes with your phone.</h1>
				<img src="/static/img/iphone1.png">
				<p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>

				<hr>
				<div class="smallblock">
					<a href="">	
						<img src="/static/img/appstore.svg" id="apple">
					</a>
					<a href="https://play.google.com/store/apps/details?id=routeFun">
					  <img src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" id="google">
					</a>
					<p>Grab our app before you head out for the next adventure or errand.</p>
				</div>

			</section>

			<section id="three">
				<h1>Look for nice routes.</h1>
				<div id="thebar">
				    <form action="" id="start" method="post" target="_blank">
				       <div class="required">
				          <label for="zipcode_entry">Find a route near you</label>
				          <input class="required" id="zipcode" name="zipcode" placeholder="your zipcode here" type="text"/>
				       </div>
				    </form>
				</div>
				<!--action="api/searchresults" method="post"-->
				<form>
					<fieldset> <!--radio buttons-->
						    <legend>Route type</legend>
						    <input type="radio" name="funFactor" value="one"><label for="one">Eco</label>
						    <input type="radio" name="funFactor" value="two"><label for="two">Eh</label>
						    <input type="radio" name="funFactor" value="three"><label for="three">Average</label>
						    <input type="radio" name="funFactor" value="four"><label for="four">Better</label>
						    <input type="radio" name="funFactor" value="five"><label for="five">Enthusiast</label>

						    <input class="submit" value="Let's go" id="letsgo">
					</fieldset>
				</form>
				<p>Route: <span id="routetype"></span> Number: <span id="routenumber"></span> <br/>
						<button class="submit" id="showmap" value="Show map">Show Map</button>
				</p>
				<p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</p>
			</section>

			<section id="map-canvas">
				<!--Google Maps renders here-->
			</section>
			

			<footer>A design and code project made at VW Hackathon</footer>

		</div>



		<!--script for displaying the route results-->
    	<script>
    		//now how do I take in the JSON from AJAX?

    		

    		

    		var obj_old = {"results": [{"type": "home", "number": "1"}, {"type": "home", "number": "4"}, {"type": "home", "number": "3"}, {"type": "home", "number": "2"}]};





			for (var i = 0; i < obj.results.length; i++) {
				document.getElementById("routetype").innerHTML=obj.results[i].type 
				document.getElementById("routenumber").innerHTML=obj.results[i].number
				//instead of inserting something in the span, I need to be generating HTML items
			}; 

    	</script>

		

		<!--Scripts-->
		
		<script src="/static/js/scrollspy.js"></script>

	</body>

</html>




